body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem !important;
  background-color: white;
}

.fa-compass {
  color: #fe424f;
  font-size: 2rem !important;
}

.nav-link {
  color: #000000 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none !important;
  color: black !important;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline !important;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials {
  width: 100%;
  font-size: 1.2rem !important;
  margin-right: 1rem;
}

/* index  */

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important ;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

/* new page */
.add-btn {
  background-color: #fe424f !important;
  border: none !important;
}

/* edit page */
.edit-btn {
  background-color: #fe424f !important;
  border: none !important;
}

/* show page */
.show-img {
  height: 30vh;
}

.show-card {
  padding-right: 0;
  padding-left: 0;
}

.btns {
  display: flex;
}
